[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
beautifulsoup4 = "*"
requests = "*"
pdfplumber = "*"
transformers = "*"
typing = "*"
numpy = "*"
nltk = "*"
scikit-learn = "*"
streamlit = "*"
torch = {version = "*", index = "downloadpytorch"}

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
